
/*** HEADER ***/
.menu-button {    
    float: left;
    margin: 1em 0;

    a {
        color: $tertiary-color;
        font-size: 1.4em;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
    }
}

/** Navigation **/
.menu-list {
    float: left;
}
nav{
    ul {
        list-style-type: none;
    }
    li {
        float: left;

        a {
            display: inline-block;
            padding: .3em 1em;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

/*** CONTENT ***/

/** Slider **/
.bxslider{
    height: 100%;
    margin: 0;

    li{
        height: 100%;
    }
    img {
        margin: auto;
        max-height: 100%;
    }
}


/*** FOOTER ***/
footer {

    p {
        color: $secondary-color;
        margin: 0;
        padding: .5em 1em;
        text-align: center;
    }
}
